html {
    background: url("../assets/img/background.png") no-repeat center fixed;
    background-size: cover;
}



.nav {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
@media only screen and (min-width: 600px) {
    .nav {
        width: 40%;
    }
    .general, .chan{
                box-shadow: 0px 6px 5px #00000048;

    }
}
a,
a:visited {
    text-decoration: none;
    color: grey;
}

a:active {
    color: darkcyan !important;
}


.chan {
    box-sizing: border-box;
    margin: 10px;
    font-family: Apple Chancery,
    cursive;

    color: grey;
    padding: 1em;
    background-color: rgba(238, 238, 238, 0.795);

}
.quote{
    text-align: center;
    background-color: rgba(238, 238, 238, 0.795);
    padding: 1em;
    margin: 0 auto;
    width: 50%;
    font-size: smaller;
    font-family: Apple Chancery,
    cursive;
    color: black;
                box-shadow: 0px 6px 5px #00000048;

}


.general {
    box-sizing: border-box;
    margin: 10px;
    font-family: Apple Chancery,
    cursive;

    color: grey;
    padding: 1em;
    background-color: rgba(238, 238, 238, 0.795);


}


.spotifyPlayer {
    float: right;
}

a:hover {
    color: black;
}
#search{
    font-family: Apple Chancery, cursive;
}